/*
  Copyright (c) Microsoft Corporation.
  Licensed under the MIT license.
*/

header {
    background-color: #007FFF;
    height: 55px;
    width: 100%;
}

#pdiv {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    margin-left: 31px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    margin: 0 auto;
    width: 100%;
}

section#text-container > div > p {
    font: 1.2em "segoe ui", arial, sans-serif;
}

#report-container {
    height: calc(0.5625 * 60vw); /* 16:9 aspect ratio */
    width: 95%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    #report-container {
        height: calc(0.5625 * 100vw); /* 16:9 aspect ratio */
        width: 95%;
        margin-top: 15px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

footer > p {
    font: 1em "segoe ui", arial, sans-serif;
}

iframe {
    border: none;
}
