<!--
Copyright (c) Microsoft Corporation.
Licensed under the MIT license.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <title>Field Intelligence</title>
</head>

<body>
    <header class="embed-container">
        <span id="pdiv">Field Intelligence</span>
        <button id="public_sort" class="btn_green" onclick="loadReportCaller(3);">Sort Demo</button>
        <button id="public_report" class="btn_green" onclick="loadReportCaller(1);">Embed Demo</button>
        <button id="user_sales_db" class="btn_green" onclick="loadReportCaller(2);">RLS Demo</button>
        <button class="btn_green" onclick="setAyncCallListElements();">List Elements</button>
    </header>
    <main>
        <section id="report-container" class="embed-container">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container">
        </section>
        <br/>
        <button class="btn_green" onclick="sortGraph('Opportunity', 'c', 'Topic', 'd');">Sort - 'Opportunity', 'c', 'Topic', 'd'</button>
        <button class="btn_green" onclick="sortGraph('Opportunity', 'c', 'Topic', 'a');">Sort - 'Opportunity', 'c', 'Topic', 'a'</button><br/><br/>
        <button class="btn_green" onclick="sortGraph('Opportunity', 'm', 'SUM of Estimated Revenue', 'a');">Sort - 'Opportunity', 'm', 'SUM of Estimated Revenue', 'a'</button>
        <button class="btn_green" onclick="sortGraph('Opportunity', 'm', 'SUM of Estimated Revenue', 'd');">Sort - 'Opportunity', 'm', 'SUM of Estimated Revenue', 'd'</button><br/><br/>

        <button class="btn_green" onclick="sortGraph('Opportunity', 'm', 'SUM Quote Amount', 'a');">Sort - 'Opportunity', 'm', 'SUM Quote Amount', 'a'</button>
        <button class="btn_green" onclick="sortGraph('Opportunity', 'm', 'SUM Quote Amount', 'd');">Sort - 'Opportunity', 'm', 'SUM Quote Amount', 'd'</button>

        <button class="btn_green" onclick="sortGraph('Opportunity', 'c', 'Estimated Revenue', 'a');">Sort - 'Opportunity', 'c', 'Estimated Revenue', 'a'</button>


    </main>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/powerbi.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loadreport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
